
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #567;
}

table {
    border-collapse: collapse;
    border: 1px solid gold;
}

td {
    border: 1px solid black;
  }
  
#layout {
    background-color: #111;
    border: 1px solid gold;
    color: #eee;
    font-family: monospace;
}

#side {
    width: 200px;
    vertical-align: top;
}
  
#details {
    height: 100px;
    vertical-align: top;
}
  
#actions {
    height: 50px;
}


#log {
    height: 100px;
    vertical-align: top;
    color: #aaa;
    font-size: 12px;
    overflow: auto;
}
.newLogMessage {
    color: #dee;
}
.oldLogMessage {
    color: #666;
}


#input {
    width: 99%;
    background-color: #cecece;
}
  