
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url("FiraCode.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #567;
}

table {
    border-collapse: collapse;
    border: 1px solid gold;
}

td {
    border: 1px solid black;
  }
  
#layout {
    background-color: #111;
    border: 1px solid rgb(12, 64, 124);
    color: #eee;
    font-family: 'Fira Code';
}

#side {
    width: 200px;
    vertical-align: top;
    background-color: #aabbcc;
}
  
#details {
    height: 100px;
    vertical-align: top;
}
  
#input {
    width: 99%;
    background-color: #cecece;
}

/** actions: **/
#actions {
    height: 54px;
    padding: 1px;
    background-color: #1a1a1a;
}
.actionIcon {
    width: 50px;
    border: 2px solid green;
    opacity: 1.0;
}
.actionNotReady {
    border: 2px solid gray;
    opacity: 0.5;
}
.actionSustained {
    border: 2px solid rgb(255, 255, 0);
    opacity: 1.0;
}
.actionType {
    color: green;
}

/** logging: **/
#log {
    height: 100px;
    vertical-align: top;
    color: #aaa;
    font-size: 12px;
    overflow: auto;
    padding-top: 10px;
}
.newLogMessage {
    color: #dee;
}
.oldLogMessage {
    color: #666;
}


/** popups: **/
#popup {
    display: none;
    position: absolute;
    border: 2px solid #987;
    background-color: #123;
    color: #fff;
    text-align: left;
    padding: 5px;
    font-size: 12px;
    width: 200px;
}
.popupName {
    text-align: center;
    font-size: 14px;
    color: #ff0;
}
.popupDesc {
    font-style: italic;
    padding: 5px;
}
.popupImage {
    width: 25px;
    height: 25px;
    float: left;
}
